---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]発行し、テスト結果を分析しますか。 | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System は、プロジェクトのコード品質の変化をグラフに、プロジェクトが進行できます。 このビデオでは publ. する方法について説明.
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379517"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="745b1-105">[How Do i:]発行し、テスト結果を分析しますか。</span><span class="sxs-lookup"><span data-stu-id="745b1-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="745b1-106">によって[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="745b1-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="745b1-107">Visual Studio Team System は、プロジェクトのコード品質の変化をグラフに、プロジェクトが進行できます。</span><span class="sxs-lookup"><span data-stu-id="745b1-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="745b1-108">このビデオでは、Team Foundation Server プロジェクト データベースにテスト結果を発行し、結果をビルド番号に関連付ける方法について説明します。</span><span class="sxs-lookup"><span data-stu-id="745b1-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="745b1-109">私たちには、こと、結果を発行した後ことができます、レポート マネージャーを使用、ビルドのテスト結果がグラフィカルに変更を表示するを参照してください。</span><span class="sxs-lookup"><span data-stu-id="745b1-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="745b1-110">&#9654;ビデオ (7 分)</span><span class="sxs-lookup"><span data-stu-id="745b1-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="745b1-111">[前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="745b1-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
