---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]発行し、テスト結果を分析しますか。 | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System は、プロジェクトのコード品質のグラフの変更にプロジェクトが進むにつれてできます。 このビデオでは、publ. する方法の指示を提供.
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="8cbea-105">[How Do i:]発行し、テスト結果を分析しますか。</span><span class="sxs-lookup"><span data-stu-id="8cbea-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="8cbea-106">によって[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="8cbea-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="8cbea-107">Visual Studio Team System は、プロジェクトのコード品質のグラフの変更にプロジェクトが進むにつれてできます。</span><span class="sxs-lookup"><span data-stu-id="8cbea-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="8cbea-108">このビデオでは、Team Foundation Server プロジェクト データベースにテスト結果を発行し、ビルド番号を持つ結果を関連付ける方法について説明します。</span><span class="sxs-lookup"><span data-stu-id="8cbea-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="8cbea-109">結果がパブリッシュされた後おことができます、レポート マネージャーを使用してグラフィカルに表示の変更、ビルドのテスト結果でわかります。</span><span class="sxs-lookup"><span data-stu-id="8cbea-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="8cbea-110">&#9654;(7 分) のビデオを見る</span><span class="sxs-lookup"><span data-stu-id="8cbea-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="8cbea-111">[前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="8cbea-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
