---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]発行し、テスト結果を分析しますか。 | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System は、プロジェクトのコード品質の変化をグラフに、プロジェクトが進行できます。 このビデオでは publ. する方法について説明.
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833077"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[How Do i:]発行し、テスト結果を分析しますか。
====================
によって[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System は、プロジェクトのコード品質の変化をグラフに、プロジェクトが進行できます。 このビデオでは、Team Foundation Server プロジェクト データベースにテスト結果を発行し、結果をビルド番号に関連付ける方法について説明します。 私たちには、こと、結果を発行した後ことができます、レポート マネージャーを使用、ビルドのテスト結果がグラフィカルに変更を表示するを参照してください。

[&#9654;ビデオ (7 分)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)
