---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[How Do i:]発行し、テスト結果を分析しますか。 | Microsoft Docs"
author: rick-anderson
description: "Visual Studio Team System は、プロジェクトのコード品質のグラフの変更にプロジェクトが進むにつれてできます。 このビデオでは、publ. する方法の指示を提供."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[How Do i:]発行し、テスト結果を分析しますか。
====================
によって[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System は、プロジェクトのコード品質のグラフの変更にプロジェクトが進むにつれてできます。 このビデオでは、Team Foundation Server プロジェクト データベースにテスト結果を発行し、ビルド番号を持つ結果を関連付ける方法について説明します。 結果がパブリッシュされた後おことができます、レポート マネージャーを使用してグラフィカルに表示の変更、ビルドのテスト結果でわかります。

[&#9654;です。(7 分) のビデオを見る](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[前へ](how-do-i-use-generic-tests.md)
[次へ](how-do-i-discover-application-changes-prior-to-deployment.md)
