---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]発行し、テスト結果を分析しますか。 | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System は、プロジェクトのコード品質の変化をグラフに、プロジェクトが進行できます。 このビデオでは publ. する方法について説明.
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833077"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="fd2ba-105">[How Do i:]発行し、テスト結果を分析しますか。</span><span class="sxs-lookup"><span data-stu-id="fd2ba-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="fd2ba-106">によって[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="fd2ba-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="fd2ba-107">Visual Studio Team System は、プロジェクトのコード品質の変化をグラフに、プロジェクトが進行できます。</span><span class="sxs-lookup"><span data-stu-id="fd2ba-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="fd2ba-108">このビデオでは、Team Foundation Server プロジェクト データベースにテスト結果を発行し、結果をビルド番号に関連付ける方法について説明します。</span><span class="sxs-lookup"><span data-stu-id="fd2ba-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="fd2ba-109">私たちには、こと、結果を発行した後ことができます、レポート マネージャーを使用、ビルドのテスト結果がグラフィカルに変更を表示するを参照してください。</span><span class="sxs-lookup"><span data-stu-id="fd2ba-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="fd2ba-110">&#9654;ビデオ (7 分)</span><span class="sxs-lookup"><span data-stu-id="fd2ba-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="fd2ba-111">[前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="fd2ba-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
