---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[How Do i:]発行し、テスト結果を分析しますか。 | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System は、プロジェクトのコード品質のグラフの変更にプロジェクトが進むにつれてできます。 このビデオでは、publ. する方法の指示を提供.
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894897"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[How Do i:]発行し、テスト結果を分析しますか。
====================
によって[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System は、プロジェクトのコード品質のグラフの変更にプロジェクトが進むにつれてできます。 このビデオでは、Team Foundation Server プロジェクト データベースにテスト結果を発行し、ビルド番号を持つ結果を関連付ける方法について説明します。 結果がパブリッシュされた後おことができます、レポート マネージャーを使用してグラフィカルに表示の変更、ビルドのテスト結果でわかります。

[&#9654;(7 分) のビデオを見る](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)
